<!DOCTYPE html>
<html ng-app="awareApp">
  <head>
    <meta charset="utf-8">
    <title>Aware App</title>
  </head>
  <body >
    <div class="jumbotron container">
      <div about>
        <h2 id="ourmission">Our Mission</h2>

        <div id="story">
          <p class="story-text"><strong>January 15, 2016 - Burkina Faso</strong></p>
          <p><strong>8:00 PM</strong> - Smoke. Smoke everywhere. City wide curfew instilled. Everyone is advised to stay inside, but no one has any idea why or idea of what is actually going on. News Channel is displaying a late night show it would seem it's nothing crazy.</p>

          <p class="story-text"><strong>12:00 AM</strong> - Still no information on the news channels, curfew still in place. Nobody in the streets, but word of mouth starts to spread. Seems like there's been a terrorist attack in the center of the capital.</p>

          <p class="story-text"><strong>6:00 AM</strong> - The national news channel finally has information. There was a terrorist attack in 19 dead, several injured.</p>
        </div>
        <p>Globally, we lack real time access to on the ground information leading to increased danger and fear in crisis situations.</p>

        <p><strong>The Solution</strong>: <strong>AWARE</strong> - A user generated news board. accessible to anyone who has a mobile phone. Simply text us with your update. The application will autopopulate based on your area code which State, City, and Zip Code the update concerns, creating a feed of critical information in your area.</p>

        <p><strong>Thanks for helping keep your community Aware.</strong></p>
      </div>
    </div>
  </body>
</html>
